body{
  background-color: #F4F5F7;
}
.chat-input-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 600px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 8px 16px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  z-index: 1000;
}

.chat-input-container input {
  border: none;
  outline: none;
  flex: 1;
  padding: 8px;
  font-size: 1rem;
  background: transparent;
}

.chat-input-container i {
  font-size: 1.5rem;
  color: #6A1B9A;
  cursor: pointer;
}
.ai{
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 150px;
  margin-right: 60px;
  z-index: 1000;
}
.ai-wrapper {
  position: relative;
  width: 75px;
  height: 75px;
}

.caution{
  position: fixed;
  bottom: 1px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 15px;
  width: 100%;
}